In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel('utilities/galactose_in_food.xlsx', index_col=0)

                           Species  Content  Precision
Food
Apple        Malus domestica Borkh      8.3        0.7
Apricot        Prunus armeniaca L.      1.1        0.6
Artichoke       Cynara scolymus L.      NaN        NaN
Asparagus  Asparagus officinalis L      1.2        0.6
Avocado      Persea americana Mill      0.5        NaN